<p class="fields">
  <%= f.hidden_field :group_id, :value => @group.id %>
  <%= f.label :name, "Custom Field" %>
  <%= f.text_field :name %>
  <%= f.label :complex, "Is it a list?" %>
  <%= f.check_box :complex %>
  <%= link_to_remove_fields "remove", f %>
</p>
