<%= form_for(@custom_form) do |f| %>
  <%= f.error_messages %>

  <p class="fields">
    <%= f.hidden_field :group_id, :value => @group.id %>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <%= f.fields_for :custom_fields do |builder| %>
    <%= render "custom_field_fields", :f => builder %>
  <% end %>

  <p><%= link_to_add_fields "Add custom field", f, :custom_fields %></p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
