<% title "Custom Forms" %>

<script type="text/javascript" charset="utf-8">
$(function() {

});
</script>

<table>
  <tr>
    <th>Group</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @custom_forms.each do |custom_form| %>
  <tr>
    <td><%= custom_form.group_id %></td>
    <td><%= custom_form.name %></td>
    <td><%= link_to 'Show', custom_form %></td>
    <td><%= link_to 'Edit', edit_custom_form_path(custom_form) %></td>
    <td><%= link_to 'Destroy', custom_form, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<p><%= link_to 'New Custom form', new_custom_form_path %></p>
