<% title "User Stories" %>

<table>
  <tr>
    <th>Actor</th>
    <th>Goal</th>
    <th>Group</th>
  </tr>
  <% for user_story in @user_stories %>
    <tr>
      <td><%= user_story.actor %></td>
      <td><%= user_story.goal %></td>
      <td><%= user_story.group %></td>
      <td><%= link_to "Show", user_story %></td>
      <td><%= link_to "Edit", edit_user_story_path(user_story) %></td>
      <td><%= link_to "Destroy", user_story, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New User Story", new_user_story_path %></p>
