<%= form_for @timecard_period do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :actual_starts_on %><br />
    <%= f.date_select :actual_starts_on %>
  </p>
  <p>
    <%= f.label :actual_ends_on %><br />
    <%= f.date_select :actual_ends_on %>
  </p>
  <p>
    <%= f.label :estimate_starts_on %><br />
    <%= f.date_select :estimate_starts_on %>
  </p>
  <p>
    <%= f.label :estimate_ends_on %><br />
    <%= f.date_select :estimate_ends_on  %>
  </p>
  <p>
    <%= f.label :due_on %><br />
    <%= f.datetime_select :due_on  %>
  </p>




  <p><%= f.submit :class => "orange_button" %></p>
<% end %>
