<% title "Time Card Periods" %>

<% unless @timecard_periods.count==0 %>      
<% form_tag delete_multiple_timecard_periods_path do %>
<table id="admin_table">
	<thead>
            <tr>
                <th></th>
		    <th>Name</th>
		    <th>Actual Starts On</th>
		    <th>Actual Ends On</th>
		    <th>Estimate Starts On</th>
                    <th>Estimate Ends On</th>
                    <th>Due On</th>
			<th></th>
			<th></th>
		  </tr>
	</thead>
  <% for timecard_period in @timecard_periods %>
  <tr>
      <td><%= check_box_tag "timecard_period_ids[]", timecard_period.id, false, :id => "timecard_period_#{timecard_period.id}" %></td>
      <td><%= link_to timecard_period.name, timecard_period %></td>
      <td><%= timecard_period.actual_starts_on.to_formatted_s(:long) %></td>
      <td><%= timecard_period.actual_ends_on.to_formatted_s(:long) %></td>
      <td><%= timecard_period.estimate_starts_on.to_formatted_s(:long) %></td>
      <td><%= timecard_period.estimate_ends_on.to_formatted_s(:long) %></td>
      <td><%= timecard_period.due_on.to_formatted_s(:long) %></td>
      <td><%= link_to "Edit", edit_timecard_period_path(timecard_period) %></td>
      <td><%= link_to "Delete", timecard_period, :confirm => 'Are you sure? This will delete all timecards submitted for this period.', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<%= submit_tag "Delete Checked", :class => "matte_button" %>
<%= link_to_function("Select All","$(':checkbox').each(function() { this.checked = true;});") %> |
<%= link_to_function("Deselect All","$(':checkbox').each(function() { this.checked = false;});") %>
<% end %>
<% else %>
<%= "There are no Time card periods." %>
<% end %>
