var new_time_log_form = $("#new_time_log");
var notice = new_time_log_form.parent().find("#flash_notice");
if (notice)
	notice.hide();
var error = new_time_log_form.parent().find("#flash_error");
if (error)
	error.hide();

<% if @time_log.errors.any? -%>
	new_time_log_form.before('<div id="flash_error"></div>');
	var error_block = new_time_log_form.parent().find("#flash_error");
	<% @time_log.errors.to_a.each do |msg| -%>
		error_block.append("<%= escape_javascript(msg) %></br>");
	<% end -%>
<% else %>
	new_time_log_form.before('<div id="flash_notice"><%= escape_javascript(flash.delete(:notice)) %></div>');
	$("#flash_notice").delay(5000).fadeOut("slow");
	
	<% if @time_log.actual -%>
		$("#actual_time_logs").append("<%= escape_javascript(render(:partial => '/time_logs/time_log', :locals => {:time_log => @time_log, :available_days_for_actuals => @available_days_for_actuals, :available_days_for_estimates => @available_days_for_estimates} )) %>");
		$("#time_log_<%= @time_log.id %>").effect("highlight", {}, 3000);
		
		//Fill the Checkmark for Verify Actuals
		$(".verify_actuals").find(".check").addClass("check_hover");
	<% else %>
		$("#estimate_time_logs").append("<%= escape_javascript(render(:partial => '/time_logs/time_log', :locals => {:time_log => @time_log, :available_days_for_actuals => @available_days_for_actuals, :available_days_for_estimates => @available_days_for_estimates} )) %>");
		$("#time_log_<%= @time_log.id %>").effect("highlight", {}, 3000);
		
		//Fill the Checkmark for Verify Estimates
		$(".verify_estimates").find(".check").addClass("check_hover");
	<% end %>
	
	//Reset the Log Time Form
	new_time_log_form.find("#time_log_hours").val('');
	$('#time_log_day').val( $(this).prop('defaultSelected') );
	$('#time_log_charge_number_id').val( $(this).prop('defaultSelected') );
	
	//Fill the Checkmark for Fill Out Your Times
	$(".fill_times").find(".check").addClass("check_hover");
<% end %>