

<table>
  <tr>
    <th>Timecard</th>
    <th>Day</th>
    <th>Hours</th>
    <th>Actual</th>
  </tr>
  <% for time_log in @time_logs %>
    <tr>
      <td><%= time_log.timecard_id %></td>
      <td><%= time_log.day %></td>
      <td><%= time_log.hours %></td>
      <td><%= time_log.actual %></td>
      <td><%= link_to "Show", time_log %></td>
      <td><%= link_to "Edit", edit_time_log_path(time_log) %></td>
      <td><%= link_to "Destroy", time_log, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Time Log", new_time_log_path %></p>
