<% title "Time Log" %>

<p>
  <strong>Etc:</strong>
  <%= @time_log.timecard_id %>
</p>
<p>
  <strong>Day:</strong>
  <%= @time_log.day %>
</p>
<p>
  <strong>Hours:</strong>
  <%= @time_log.hours %>
</p>
<p>
  <strong>Actual:</strong>
  <%= @time_log.actual %>
</p>

<p>
  <%= link_to "Edit", edit_time_log_path(@time_log) %> |
  <%= link_to "Destroy", @time_log, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", time_logs_path %>
</p>
