var edit_time_log_form = $("#edit_time_log_<%= @time_log.id %>");
var notice = edit_time_log_form.parent().find("#flash_notice");
if (notice) {
	notice.hide();
}
var error = edit_time_log_form.parent().find("#flash_error");
if (error) {
	error.hide();
}

<% if @time_log.errors.any? -%>
	edit_time_log_form.before('<div id="flash_error"><%= escape_javascript(flash.delete(:error)) %></div>');
<% else %>
	var time_log = $("#time_log_<%= @time_log.id %>");
	var inline_content = time_log.find('.inline_content');
	var inline_form = time_log.find('.inline_form');
	
	inline_content.find(".charge_number").html("<%= @time_log.charge_number.description %>");
	inline_content.find(".day").html("<%= @time_log.day %>");
	inline_content.find(".hours").html("<%= @time_log.hours %>");

	inline_form.hide();
	inline_content.show();
	inline_content.closest(".time_log").effect("highlight", {}, 3000);
<% end %>