<% title "Timecards" %>

<script type="text/javascript" charset="utf-8">
$(function() {
   new Highcharts.Chart({
      chart: {
         renderTo: 'chart',
         marginRight: 170,
         marginBottom: 25
      },
      title: {
         text: 'Time Spent on Project',
         x: -20 //center
      },
      credits :  {
         enabled : false 
      },
      xAxis: {
         categories: ['Week 1','Week 2','Week 3','Week 4','Week 5','Week 6','Week 7','Week 8','Week 9','Week 10']
      },
      yAxis: {
         title: {
            text: 'Hours Worked'
         },
         plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
         }]
      },
      tooltip: {
         formatter: function() {
                   return '<b>'+ this.series.name +'</b><br/>'+
               this.x +': '+ this.y + ' hours';
         }
      },
      legend: {
         layout: 'vertical',
         align: 'right',
         verticalAlign: 'top',
         x: 5,
         y: 0,
         borderWidth: 0
      },
      series: [<%= @series %>]


   });
   
   
});
</script>
<div id="chart"></div>

<table>
  <tr>
    <th>User</th>
    <th>Group</th>
    <th>Info</th>
    <th>hours</th>
  </tr>

  <% for timecard in @timecards %>
    <tr>
      <td><%= timecard.user_id %></td>
      <td><%= timecard.group_id %></td>
      <td><%= timecard.time_logs %></td>
      <td><%= link_to "Show", timecard %></td>
      <td><%= link_to "Edit", edit_timecard_path(timecard) %></td>
      <td><%= link_to "Destroy", timecard, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>



<p><%= link_to "New Timecard", new_timecard_path %></p>
