<%= form_for(@documentation) do |f| %>
  <% if @documentation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@documentation.errors.count, "error") %> prohibited this documentation from being saved:</h2>

      <ul>
      <% @documentation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="field"><%= f.hidden_field :group_id, :value =>  @group.id %></p>

  <p class="field"><%= f.hidden_field :user_id, :value => @user.id %></p>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <%= f.fields_for :data_fields do |builder| %>
    <%= render "data_field_fields", :f => builder %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
