<h1>New documentation</h1>

<%= form_for(@documentation) do |f| %>
  <p>
    <%= f.label "Assign to custom form" %>
    <%= f.collection_select(:custom_form_id, @custom_forms, :id, :name) %>
  </p>
  <p class="actions">
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', documentations_path %>
