<h1>Listing data_fields</h1>

<table>
  <tr>
    <th>Custom field</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @data_fields.each do |data_field| %>
  <tr>
    <td><%= data_field.custom_field %></td>
    <td><%= data_field.body %></td>
    <td><%= link_to 'Show', data_field %></td>
    <td><%= link_to 'Edit', edit_data_field_path(data_field) %></td>
    <td><%= link_to 'Destroy', data_field, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Data field', new_data_field_path %>
