<p id="notice"><%= notice %></p>

<p>
  <b>Custom field:</b>
  <%= @data_field.custom_field %>
</p>

<p>
  <b>Body:</b>
  <%= @data_field.body %>
</p>


<%= link_to 'Edit', edit_data_field_path(@data_field) %> |
<%= link_to 'Back', data_fields_path %>
