<% title "Deviation" %>

<p>
  <strong>Body:</strong>
  <%= @deviation.body %>
</p>
<p>
  <strong>Use Case:</strong>
  <%= @deviation.use_case %>
</p>

<p>
  <%= link_to "Edit", edit_deviation_path(@deviation) %> |
  <%= link_to "Destroy", @deviation, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", deviations_path %>
</p>
