<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
var charges = <%= @charge_numbers.length %>;
     var chart2 = new Highcharts.Chart({
      chart: {
         renderTo: 'donut',
      },
      title: {
         text: 'Time Spent on Project',
      },
      credits :  {
         enabled : false 
      },
      plotOptions: { 
        pie: {
            showInLegend: true,
            dataLabels: {
                formatter: function() {
                    return '<b>'+ this.point.name +'<br/>'+ this.y +' hours, ' + Math.round(this.percentage) + '%';
                }
            },
            point: {
                events: {
                    legendItemClick: function() {
                        var shift = 0;
                        for (var i = 0; i < chart2.series[0].data.length; i++) {
                            if (this == chart2.series[0].data[i]) {
                                shift = i;
                                i = chart2.series[0].data.length;
                            }
                        }
                        var _redraw = chart2.redraw;
                        chart2.redraw = function() {};
                        if (this.visible) {
                            this.y_old = this.y;
                            this.update(0);
                            for (var j = shift * charges; j < (shift + 1) * charges; j++) {
                                var slice = chart2.series[1].data[j];
                                slice.y_old = slice.y;
                                slice.update(0);
                            }
                        } else {
                            this.update(this.y_old);
                            for (var j = shift * charges; j < (shift + 1) * charges; j++) {
                                var slice = chart2.series[1].data[j];
                                slice.update(slice.y_old);
                            }
                        }
                        chart2.redraw = _redraw;
                        chart2.redraw();

                    }
                }
            }
        }
      },
      tooltip: {
         formatter: function() {
            return '<b>'+ this.point.name +'<br/>'+ this.y +' hours';
         }
      },
      legend: {
         layout: 'vertical',
         align: 'right',
         verticalAlign: 'top',
         x: 30,
         y: 10,
         borderWidth: 0
      },
      series: [{ 
         type: 'pie', 
         data: [<%= @pie %>],
	 size: '50%',
         showInLegend: true,
         dataLabels: {
	    enabled: true,
            distance: 70
         }
      }, { 
         type: 'pie', 
         data: [<%= @donut %>],
         innerSize: '50%',
         showInLegend: false,
         dataLabels: {
            enabled: false
         },
      }]
});

     var chart = new Highcharts.Chart({
      chart: {
         renderTo: 'graph',
         marginBottom: 120
      },
      title: {
         text: 'Time Spent on Project',
         x: -20 //center
      },
      credits :  {
         enabled : false 
      },
      xAxis: {
         type: "datetime"
      },
      yAxis: {
        startOnTick: false,
         title: {
            text: 'Hours Worked'
         },
         plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
         }]
      },
      plotOptions: { 
        series: {
           enableMouseTracking: true,
           lineWidth: 0,
           marker: { enabled: false },
           showInLegend: false,
        },
        line: {
           stacking: 'normal'
           }
      },
      tooltip: {
         formatter: function() {
                   if (this.x) {
                      return '<b>'+ this.series.name + '<br/>' +this.point.name +': '+ this.total +' hours';
                   } else {
                      return '<b>'+ this.point.name +'<br/>'+ this.y +' hours';
                   }
         }
      },
      legend: {
         layout: 'horizontal',
         align: 'bottom',
         verticalAlign: 'bottom',
         borderWidth: 1
      },
      series: [<%= @series %>]
});

var actuals_on = true;
$('#toggle_actuals').click(function() {
    var _redraw = chart.redraw;
    chart.redraw = function(){};
    var series = chart.series;
    if (actuals_on) {
        for(var i = 0; i < series.length-3; i=i+(charges*2)+2) {
        console.log("i = " + i + "   series = " + series[i].name);
        series[i].hide();
        }
        actuals_on = false;
        $('#toggle_actuals').html('Show Actuals');
    } else {
        for(var i = 0; i < series.length-3; i=i+(charges*2)+2) {
        console.log("i = " + i + "   series = " + series[i].name);
        series[i].show();
        }
        actuals_on = true;
        $('#toggle_actuals').html('Hide Actuals');
    }
    chart.redraw = _redraw;
    chart.redraw();
});

var estimates_on = false;
$('#toggle_estimates').click(function() {
    var _redraw = chart.redraw;
    chart.redraw = function(){};
    var series = chart.series;
    if (estimates_on) {
        for(var i = 1; i < series.length-3; i=i+(charges*2)+2) {
          series[i].hide();
        }
        estimates_on = false;
        $('#toggle_estimates').html('Show Estimates');
    } else {
        for(var i = 1; i < series.length-3; i=i+(charges*2)+2) {
          series[i].show();
        }
        estimates_on = true;
        $('#toggle_estimates').html('Hide Estimates'); 
    }
    chart.redraw = _redraw;
    chart.redraw();
});


$(':checkbox').click(function () {
    var series = chart.series;
    var start = this.name * 2;
    var shift = 2*charges + 2;
    var _redraw = chart.redraw;
    chart.redraw = function(){};
    if (this.checked) {
       for(var i = start; i<series.length-3; i= i+shift) {
          series[i].show();
          series[i+1].show();
       }
    } else {
       for(var i = start; i<series.length-3; i= i+shift) {
          series[i].hide();
          series[i+1].hide();
       }
    }
    chart.redraw = _redraw;
    chart.redraw();
});



});



</script>
<div class="section_box">
	<div class="section_header">
		<div class="section_name floatLeft">Time Graph</div>
		<div class="section_icon floatRight"></div>
		<div class="clear"></div>
	</div>
	<div class="section_content">
		<div id="graph" style="height: 400px; width: 700px" class="floatLeft"></div>
		<div id="graph_settings">
			<button id="toggle_actuals">Hide Actuals</button>
			<button id="toggle_estimates">Show Estimates</button>
			<hidden_field id="num_people" value=<%= @num_people %> >

			<% count=1 %>
			<% @charge_numbers.each do |num| %>
			  <br />
			  <input type="checkbox" id="<%= num.id%>" name="<%= count %>" checked="checked"><%= @group.name %><%= num.name %>
			  <% count += 1 %>
			<% end %>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="section_box">
	<div class="section_header">
		<div class="section_name floatLeft">Pie Charts</div>
		<div class="section_icon floatRight"></div>
		<div class="clear"></div>
	</div>
	<div class="section_content">
		<div id="donut" class="floatLeft"></div>
		<div class="clear"></div>
	</div>
</div>

<div class="box">
    <div class="box_header">Team Timecard Status</div>


  <% for period in @timecard_periods.reverse %>

        <div class="toggle">

            <div class="grey_header">
              <div class="floatLeft">
                <%= period.name %>
              </div>
              <div class="floatLeft dates"><%= period.actual_starts_on.to_formatted_s(:long) + " - " + period.actual_ends_on.to_formatted_s(:long) %></div>
              <div class="floatRight">
                <a href="JavaScript:void(0);" class="trigger"><span>View</span><span class="hide">Close</span></a>
              </div>
              <div class="clear"></div>
            </div>

            <div class="toggle_content">
                <table id="admin_table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Status</th>
                      <th>Time Submitted</th>
                      <th>Late?</th>
                      <th>How Late?</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for user in @group.users %>
                        <% timecard = period.timecard_made(user.id) %>
                        <tr>
                       <td>
                         <%= timecard.user.name %>
                       </td>
                       <% if timecard.completed %>
                         <td class="green_bg">Submitted</td>
                       <% else %>
                         <td class="red_bg">Not Submitted</td>
                       <% end %>
                       <td>
                          <% if timecard.completed %>
                            <%= timecard.updated_at.strftime("%m/%d/%Y at %l:%M %p") %>
                          <% end %>
                       </td>
                       <% if timecard.late? %>
                        <td class="red_bg">Late</td>
                        <% if timecard.completed %>
                            <td><%= distance_of_time_in_words(timecard.updated_at, period.actual_ends_on.end_of_day) %></td>
                        <% else %>
                            <td><%= distance_of_time_in_words(period.actual_ends_on.end_of_day, Time.now) %></td>
                        <% end %>
                       <% else %>
                        <td></td>
                        <td></td>
                       <% end %>
                     </tr>
                    <% end %>
                  </tbody>
                </table>
             </div>
        </div>
   <% end %>
</div>

<div class="box">
    <div class="box_header">Timecard Notes</div>
    <% for period in @timecard_periods.reverse %>
    <div class="toggle">
          <div class="blue_header">
            <div class="floatLeft"><%= period.name %></div>
            <div class="floatLeft dates"><%= period.actual_starts_on.to_formatted_s(:long) + "-" + period.actual_ends_on.to_formatted_s(:long) %></div>
            <div class="floatRight"><a href="JavaScript:void(0);" class="trigger"><span>View</span><span class="hide">Close</span></a></div>
            <div class="clear"></div>
          </div>

            <div class="toggle_content">
		<% for user in @group.users %>
                <% timecard = period.timecard_made(user.id) %>
                <ul class="timecard_content padded_content">
                    <h3><%= user.name %></h3>
                    <li><strong>What Was Done:</strong> <%= timecard.done %></li>
                    <li><strong>Issues:</strong> <%= timecard.issues %></li>
                    <li><strong>Todo:</strong> <%= timecard.todo %></li>
                    <li><strong>Risks:</strong> <%= timecard.risks %></li>
                 </ul>
                <% end %>
            </div>
        </div>
    <% end %>
</div>







