<div id="timecard_status">
  <h2>Incomplete Timecards</h2>
  <ul>
    <% for timecard in current_user.get_incomplete_timecards.reverse %>
      <% if (Time.now >  timecard.timecard_period.due_on ) %>
      <li> LATE: (<%= distance_of_time_in_words(Time.now, timecard.timecard_period.due_on) %>) <%= link_to "#{timecard.timecard_period.name}: Time Card", edit_timecard_path(timecard) %> Was Due on:  <%= timecard.timecard_period.due_on.to_formatted_s(:long) %> </li>
      <% else %>
      <li><%= link_to "#{timecard.timecard_period.name}: Time Card", edit_timecard_path(timecard) %> Due on: <%= timecard.timecard_period.due_on.to_formatted_s(:long) %> (<%= distance_of_time_in_words(Time.now, timecard.timecard_period.due_on) %> )</li>
      <% end %>
    <% end %>
  </ul>
</div>
