<p>
	<a href="javascript:void(0)" class="comment_link main_reply">Comment</a>
</p>

<div id="comment_form_0" class="comment_form_main">
	<%= form_for(@comment, :url => add_comment_path) do |f| %>
	  <%= f.error_messages %>
	  <%= hidden_field_tag :parent_id, nil %>
	  <%= hidden_field_tag :group_id, @group.id %>
	  <p><%= f.text_area :body, :rows => 4 %></p>
	  <p><%= f.submit %></p>
	<% end %>
</div>

<p></p>
<p>
	<div id="comments">
  		<%= render :partial => 'groups/comment', :collection => @root_comments %>
	</div>
</p>