<div id="form">
	<div id="form_header">
		<ul id="breadcrumb">
			<li class="faded">&larr;<%= link_to "Back", timecard_periods_path %>
			<li class="active">Edit Group Information</li> 
			<li><%= link_to "View This Group", @group, :class => "matte_button" %></li>
		</ul>
	</div>

	<%= form_for @group do |f| %>
		<%= render 'form', :f => f %>
	
		<div id="form_footer">
	  		<%= f.submit :class => "orange_button" %> <em>or</em>
	  		<%= link_to "Back to group", @group %>
		</div>
	<% end %>
</div>
