<% title "Groups" %>

<table id="admin_table">
  <thead>
  	<tr>
	    <th>Name</th>
	    <th>Description</th>
	    <th>Invited Users</th>
	    <th>Max Members</th>
	    <th>Total Members</th>
	    <th>Privacy</th>
		<th></th>
		<th></th>
	  </tr>
  </thead>
  <tbody>
  <% for group in @groups %>
    <tr>
      <td><%= link_to group.name, group %></td>
      <td><%= group.description %></td>
      <td><%= group.invited_users %></td>
      <td><%= group.max_members %></td>
      <td><%= group.total_members %></td>
      <td><%= group.privacy %></td>
      <td><%= link_to "Edit", edit_group_path(group) %></td>
      <td><%= link_to "Destroy", group, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
