<% if !current_user.admin and !@current_review_period.blank? %>
	<%= render :partial => 'peer_review_status' %>
<% end %>
<% if !current_user.admin and !@current_timecard_period.blank? and !current_user.get_incomplete_timecards.empty? %>
	<%= render :partial => 'time_card_status' %>
<% end %>

<%= render :partial => 'header' %>

<div id="groups_show">
		<div>
			<% case @view_option %>
			<% when "schedule" %>	
				<div id="schedule">
					<%= render :partial => "schedule" %>
				</div>
			<% when "time_cards" %>
				<div id="time_cards">
					<%= render :partial => "time_card_graphs" %>
				</div>
			<% when "charge_numbers" %>
				<div id="charge_numbers">
					<%= render :partial => "charge_number" %>
				</div>
			<% else %>
				<div id="general_information">
					<%= render :partial => "general_information" %>
				</div>
			<% end %>
		</div>
	</div>
</div>
