<% if @user.id == current_user.id or current_user.admin %>
	<ul id="review_periods">
		<% for review_period in @review_periods %>
			<li id="review_period_<%= review_period.id %>">
				<% if @user.completed_peer_reviews(review_period.id).empty? %>
					<% if @user.id == current_user.id %>
						<p>Incomplete: <%= link_to "#{review_period.name}: Peer Reviews", new_peer_review_path(:review_period_id => review_period.id) %></p>
					<% else %>
						<p>Incomplete: <%= review_period.name %>: Peer Reviews</p>
					<% end %>
				<% else %>
					<div><%= link_to "#{review_period.name}: Peer Reviews", "#", :id => review_period.id, :class => "review_period_toggle" %></div>
					<table id="peer_reviews_<%= review_period.id %>">
						<tr>
							<th>Reviewee Name</th>
							<th>Rating</th>
							<th>Peer Review</th>
						</tr>
						<% for peer_review in PeerReview.where(:user_id => @user.id, :review_period_id => review_period.id) %>
							<tr>
								<td><%= link_to User.find(peer_review.reviewee_id).name, User.find(peer_review.reviewee_id) %></td>
								<td><%= peer_review.rating %></td>
								<td><%= link_to "Details", peer_review %></td>
							</tr>
						<% end %>
					</table>
				<% end %>
			</li>
		<% end %>
	</ul>
<% end %>
