<!-- Not in use right now. Back button replaces functionality -->
<div id="form" class="medium_width">
	<div id="form_header">
		<ul id="breadcrumb">
			<li class="active">Step 1: Login Info</li>
			<li><%= link_to "Step 2: A Bit About You", signup_wizard_path(:step => 2) %></li>
			<% if current_user.signup_status != "account_step" %>
				<li><%= link_to "Step 3: Availability", signup_wizard_path(:step => 3) %></li>
			<% else %>
				<li class="faded">Step 3: Availability</li>
			<% end %>
		</ul>
	</div>
	
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
	  <%= f.error_messages %>

	  <% if current_user && current_user.signup_status == "completed" %>
	  <% else %>
	  	<p><%= f.label :email %><br />
		  <%= f.text_field :email %></p>
	  <% end %>

	  <p><%= f.label :password %> <span class="info">Leave blank if you don't want to change it.</span>
	  <%= f.password_field :password, :autocomplete => :off %></p>

	  <p><%= f.label :password_confirmation %><br />
	  <%= f.password_field :password_confirmation, :autocomplete => :off %></p>

	  <p><%= f.label :current_password %> <span class="info">(we need your current password to confirm your changes.</span>
	  <%= f.password_field :current_password, :autocomplete => :off %></p>

	  <div id="form_footer">
	 		<%= f.submit "Update", :class => "orange_button" %></p>
	  </div>
	<% end %>
</div>