<!-- IMPORTANT: Step 1 of Form -->

<div id="form" class="medium_width">
	<div id="form_header">
		<ul id="breadcrumb">
			<li class="active">Step 1: Login Info</li> 
			<li class="faded">Step 2: A Bit About You</li>
			<li class="faded">Step 3: Availability</li>
		</ul>
	</div>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= f.error_messages %>
	
	  	<p><%= f.label :email, "UCSD Email" %><br />
	  		<span class="info">This must be an email contained on the CSE110 class roster.</span>
	  		<%= f.text_field :email %></p>

	  <p><%= f.label :password, "Choose A Password" %><br />
			<span class="info">Must be between 6-20 characters.</span>
	  <%= f.password_field :password, :autocomplete => :off %></p>

	  <p><%= f.label :password_confirmation, "Password Confirmation" %><br />
	  <%= f.password_field :password_confirmation %></p>

	  <div id="form_footer">
	  	<p><%= f.submit "Continue to Step 2", :class => "orange_button floatRight", :disable_with => "Creating Your Account ..." %></p>
		<div class="clear"></div>
	  </div>
	<% end %>
</div>
