<% title "Charge Numbers" %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% for charge_number in @charge_numbers %>
    <tr>
      <td><%= charge_number.name %></td>
      <td><%= charge_number.description %></td>
      <td><%= charge_number.group_id %></td>
      <td><%= link_to "Show", charge_number %></td>
      <td><%= link_to "Edit", edit_charge_number_path(charge_number) %></td>
      <td><%= link_to "Destroy", charge_number, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
 <% end %>
</table>

<p><%= link_to "New Charge Number", new_charge_number_path %></p>
