<% title "Charge Number" %>

<p>
  <strong>Group:</strong>
  <%= @charge_number.group_id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @charge_number.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @charge_number.description %>
</p>

<p>
  <%= link_to "Edit", edit_charge_number_path(@charge_number) %> |
  <%= link_to "Destroy", @charge_number, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", charge_numbers_path %>
</p>
