<div class="toggle_box review_sections">
	
		<div class="toggle_header toggle_trigger">
			<div class="name floatLeft">
				<%= User.find(peer_review.reviewee_id).name %> 
				<% if peer_review.reviewee_id == current_user.id %>
					- (Rate Yourself)
				<% end %>
			</div>
			<div class="roles floatLeft">
				<% if !User.find(peer_review.reviewee_id).roles.blank? %>
					  <% for role in User.find(peer_review.reviewee_id).roles %>
					  	<span class="role"><%= role.name %></span>
					  <% end %>
				<% else %>
					<span class="role">.</span>
				<% end %>
			</div>
			<div class="check floatLeft">
			<% if peer_review.completed %>
				Completed
			<% end %>
			</div>	
			<div class="status floatLeft"></div>
			<div class="floatRight"><%= link_to "Edit", "javascript:void(0);"%></div>
			<div class="clear"></div>
		</div>
		<% if peer_review.completed %>
			<div class="toggle_content completed">
		<% else %>
			<div class="toggle_content">
		<% end %>
			<div id="peer_review_form_<%= peer_review.reviewee_id %>">
				<%= form_for peer_review do |f| %>
				  <%= f.error_messages %>
				  <p>
				    <%= f.label :rating %>: 
				    <%= f.select :rating, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], { :include_blank => 'None' }, :autocomplete => :off %>
				  </p>
				  <p>
				    <%= f.label :review %><br />
				    <%= f.text_area :review, :rows => 5, :autocomplete => :off %>
				  </p>

				  <%= f.hidden_field :user_id, :value => peer_review.user_id %>
				  <%= f.hidden_field :reviewee_id, :value => peer_review.reviewee_id %>
				  <%= f.hidden_field :review_period_id, :value => peer_review.review_period_id %>
				  <%= f.hidden_field :completed, :value => true %>

				  <p><%= f.submit :class => "orange_button toggle_close" %></p>
				<% end %>
			</div>
		</div>
	</div>