<% title "Peer Review" %> (<%= link_to @peer_review.review_period.name, @peer_review.review_period %>)

<p>
  
</p>
<p>
	<% if @peer_review.user_id == @peer_review.reviewee_id %>
		<strong>Submitting user:</strong>
		  <%= link_to User.find(@peer_review.user_id).name, User.find(@peer_review.user_id) %> (self evaluation)<br />
	<% else %>
		<strong>Submitting user:</strong>
		  <%= link_to User.find(@peer_review.user_id).name, User.find(@peer_review.user_id) %><br />
		<strong>Reviewee:</strong>
		<%= link_to User.find(@peer_review.reviewee_id).name, User.find(@peer_review.reviewee_id) %><br />
	<% end %>
</p>
<p>
  <strong>Rating:</strong>
  <%= @peer_review.rating %>
</p>
<p>
  <strong>Review:</strong>
  <%= @peer_review.review %>
</p>

<% if @peer_review.user_id == current_user.id %>
 	<p>
 		<%= link_to "Edit", edit_peer_review_path(@peer_review) %>
 	</p>
<% end %>
