<div id="home" class="small_width">
		<% if user_signed_in? %>
			<div id="box_header">
				<%= image_tag("check.png") %>
			</div>
			
			<h1>Thanks for signing up!</h1>
			<p>
				You will be emailed when your group has been formed (date given in class) and new features of the application will be opened up to you.
			</p>
			<ul>
				<h3>Edit Submitted Information</h3>
				<li><%= link_to "Edit Step 1: Login Info", edit_user_registration_path %></li>
				<li><%= link_to "Edit Step 2: Personal Information", signup_wizard_path(:step => '2') %></li>
				<li><%= link_to "Edit Step 3: Availability", signup_wizard_path(:step => '3') %></li>
			</ul>
		<% else %>
			<div id="box_header">
				<h1>Hello and Welcome</h1>
			</div>
		
			<div id="introduction">
				<p>We will be using the following information to best match you up in a group for this quarter. Please fill out the form honestly and accurately. It should take you less than 5 minutes and it consists of 3 simple steps. Be sure to read the directions clearly.</p>

				<ul>
					<h3>Form Steps</h3>
					<li>Verify Your UCSD Email</li>
					<li>Coding Skills and Preferred Teammates</li>
					<li>Get Your Availability Times</li>
				</ul>

				<%# link_to "Get Started", new_user_registration_path, :class => "orange_button" %>
				<%= link_to "Get Started", root_url, :class => "orange_button" %> <em>or</em> <%= link_to "Login to an Existing Account", new_user_session_path %>
			</div>
		<% end %>
</div>
