<div>
	<table id="data_table_trigger" class="report">
		<thead>
			<tr>
				<th>Group Select<th>
				<th>Group Name</th>
				<th>Compatibility Score</th>
				<th>Name</th>
				<th>Email</th>
				<th>M</th>
				<th></th>
				<th></th>
				<th>T</th>
				<th></th>
				<th></th>
				<th>W</th>
				<th></th>
				<th></th>
				<th>Th</th>
				<th></th>
				<th></th>
				<th>F</th>
				<th></th>
				<th></th>
				<th>S</th>
				<th></th>
				<th></th>
				<th>Su</th>
				<th></th>
				<th></th>
				<th>Preferred Teammates in Group</th>
				<th>Preferred Teammates NOT in Group</th>
				<th>Monday Preferences</th>
			</tr>
		</thead>
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th>am</th>
				<th>noon</th>
				<th>pm</th>
				<th>am</th>
				<th>noon</th>
				<th>pm</th>
				<th>am</th>
				<th>noon</th>
				<th>pm</th>
				<th>am</th>
				<th>noon</th>
				<th>pm</th>
				<th>am</th>
				<th>noon</th>
				<th>pm</th>
				<th>am</th>
				<th>noon</th>
				<th>pm</th>
				<th>am</th>
				<th>noon</th>
				<th>pm</th>
				<th></th>
				<th></th>
				<th>2pm-2:50pm</th>
				<th>3pm-3:50pm</th>
				<th>4pm-4:50pm</th>
			</tr>		
		</thead>
		<tbody>
			<% for user_attributes in @user_objects %>
				<% if user_attributes %>
					<tr>
						<td>
							<%= form_tag(change_group_path) do %>
								<%= select_tag("new_group", options_from_collection_for_select(@groups, "id", "name", user_attributes.shift)) %>
								<%= hidden_field_tag("change_user", User.where(:email => user_attributes[3]).first.id) %>
								<%= submit_tag("Change") %>
							<% end %>
						</td>
						<% for attribute in user_attributes %>
							<td><%= attribute %></td>
						<% end %>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>