<div class="box">
    <div class="box_header">Timecard Grader</div>
    <% for timecard_period in @timecard_periods.reverse %>
        <div class="toggle">
            <div class="grey_header">
                  <div class="floatLeft">
                    <%= timecard_period.name %>
                  </div>
                  <div class="floatLeft dates"><%= timecard_period.actual_starts_on.to_formatted_s(:long) + " - " + timecard_period.actual_ends_on.to_formatted_s(:long) + " Due on: " + timecard_period.due_on.to_formatted_s(:long)%></div>
                  <div class="floatRight">
                    <a href="JavaScript:void(0);" class="trigger"><span>View</span><span class="hide">Close</span></a>
                  </div>
                  <div class="clear"></div>
            </div>

            <div class="toggle_content">
                <table id="admin_table">
                  <thead>
                    <tr>
                        <th>Student</th>
                        <th>Team</th>
                        <th>Status</th>
                        <th>Submit Time</th>
                        <th>Total Actuals</th>
                        <th>Total Estimates</th>
                        <th>Late?</th>
                        <th>How Late?</th>
												<th>Projected Grade</th>
                        <th>View Timecard</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for user in @users %>
                        <% timecard = timecard_period.timecard_made(user.id) %>
                        <% if timecard %>
                        <tr>
                            <td><%= timecard.user.last_name %>, <%= timecard.user.first_name %></td>
                            <td><%= timecard.user.groups.first.name %></td>
                            <% if timecard.completed %>
                                <td class="green_bg">Submitted</td>
                            <% else %>
                                <td class="red_bg">Not Submitted</td>
                            <% end %>
                            <td><%= timecard.updated_at.strftime("%m/%d/%Y at %l:%M %p") %></td>
                            <% if timecard.total_actual_hours == 0 %>
                              <td class="red_bg">
                            <% else %>
                              <td>
                            <% end %>
                                <%= timecard.total_actual_hours %></td>
                             <% if timecard.total_estimate_hours == 0 %>
                              <td class="red_bg">
                            <% else %>
                              <td>
                            <% end %>
                                <%= timecard.total_estimate_hours %></td>
                            <% if timecard.late? %>
                                <td class="red_bg">Late</td>
                                <% if timecard.completed %>
                                    <td><%= distance_of_time_in_words(timecard.updated_at, timecard_period.due_on) %></td>
                                <% else %>
                                    <td><%= distance_of_time_in_words(timecard_period.due_on, Time.now) %></td>
                                <% end %>
                            <% else %>
                                <td></td>
                                <td></td>
                            <% end %>
														<td><%= timecard.calculate_grade %></td>
                            <th><%= link_to "View", timecard %></th>
                        </tr>
                    <% end %>
                    <% end %>
                  </tbody>
                </table>
            </div>
        </div>
    <% end %>
</div>
