<%= form_for(@data_field_step) do |f| %>
  <% if @data_field_step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_field_step.errors.count, "error") %> prohibited this data_field_step from being saved:</h2>

      <ul>
      <% @data_field_step.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data_field %><br />
    <%= f.text_field :data_field %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
