<p id="notice"><%= notice %></p>

<p>
  <b>Data field:</b>
  <%= @data_field_step.data_field %>
</p>

<p>
  <b>Body:</b>
  <%= @data_field_step.body %>
</p>


<%= link_to 'Edit', edit_data_field_step_path(@data_field_step) %> |
<%= link_to 'Back', data_field_steps_path %>
