<li id="story_<%= story.id %>">
	<%= link_to [@group, story], :remote => true do %>
		<span class="title floatLeft"><%= story.name %></span>
		<%= pluralize(story.tasks.count, 'Task') %>
		<%= story.completed_points %> / <%= pluralize(story.tasks.sum("points"), 'Point') %>
	<% end %>
	<div class='clear'></div>
</li>