$("#new_story_modal").modal("hide");

var stories = $("#stories");

stories.append("<%= escape_javascript(render(:partial => 'story', :locals => {:story => @story} )) %>");
$("#story_<%= @story.id %>").hide();
$("#story_<%= @story.id %>").slideDown();

//$("#story_<%= @story.id %>").effect("highlight", {}, 3000);
//stories.append('<div id="flash_notice"><%= escape_javascript(flash.delete(:notice)) %></div>');
//$("#flash_notice").delay(5000).fadeOut("slow");