<% title "Stories" %>

<a href="#new_story_modal" class="btn btn-primary" data-toggle="modal">Add Story</a>
<a href="#new_task_modal" class="btn btn-primary" data-toggle="modal">Add Task</a>

<div id="slide_container">
	<ul id="stories" class="white-list-set floatLeft">
		<div class="blue_header">Stories</div>
	  <% for story in @stories %>
	    <%= render "story", :story => story %>
	  <% end %>
	</ul>
	
	<div id="story_details" class="floatLeft">
		<div class="blue_header">Story Details</div>
		<div id="content">
			<!-- content is put in using ajax: see show.html.erb -->
		</div>
	</div>
	
	<div id="task_details" class="floatLeft">
		<div class="blue_header">Task Details</div>
		<div id="content">
			<!-- content is put in using ajax: see tasks/show.html.erb -->
		</div>
	</div>
	
	<div class="clear"></div>
</div>


<div id="new_story_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Create New Story" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Create A New Story</h3>
  </div>

	<%= form_for [@group, Story.new], :remote => true do |f| %>
  <div class="modal-body">
				  <%= f.error_messages %>
				  <p>
				    <%= f.label :name %><br />
				    <%= f.text_field :name %>
				  </p>
				  <p>
				    <%= f.label :description %><br />
				    <%= f.text_area :description, :rows => 3 %>
				  </p>
				  <p>
				    <%= f.label :start_date %><br />
				    <%= f.datetime_select :start_date %>
				  </p>
				  <p>
				    <%= f.label :end_date %><br />
				    <%= f.datetime_select :end_date %>
				  </p>
  </div>
	<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= f.submit :class => "btn btn-primary" %>
  </div>
	<% end %>
</div>


<div id="new_task_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Create New Task" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Create A New Task</h3>
  </div>

	<%= form_for Task.new, :remote => true do |f| %>
  <div class="modal-body">
				  <%= f.error_messages %>
				  <p>
				    <%= f.label :story_id %><br />
				    <%= collection_select(:task, :story_id, @stories, :id, :name, {:include_blank => true}) %>
				  </p>
				  <p>
				    <%= f.label :name %><br />
				    <%= f.text_field :name %>
				  </p>
				  <p>
				    <%= f.label :description %><br />
				    <%= f.text_area :description, :rows => 3 %>
				  </p>
					<p>
						<%= f.label :state_id, "State" %><br />
						<%= collection_select(:task, :state_id, State.all, :id, :name, {:include_blank => true}) %>
					</p>
				  <p>
				    <%= f.label :user_id, "Assign To" %><br />
						<%= collection_select(:task, :user_id, @group_members, :id, :name, {:include_blank => true}) %>
				  </p>
				  <p>
				    <%= f.label :points %><br />
				    <%= f.text_field :points %>
				  </p>
  </div>
	<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
   <%= f.submit :class => "btn btn-primary" %>
  </div>
	<% end %>
</div>