<% title "Enrolled Students" %>

<table>
  <tr>
    <th>Roster</th>
    <th>Email</th>
    <th>Name</th>
  </tr>
  <% for enrolled_student in @enrolled_students %>
    <tr>
      <td><%= enrolled_student.roster_id %></td>
      <td><%= enrolled_student.email %></td>
      <td><%= enrolled_student.name %></td>
      <td><%= link_to "Show", enrolled_student %></td>
      <td><%= link_to "Edit", edit_enrolled_student_path(enrolled_student) %></td>
      <td><%= link_to "Destroy", enrolled_student, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Enrolled Student", new_enrolled_student_path %></p>
