<div id="simple_form" class="small_width">
	<div id="form_header">
		<h2>Student Login</h2>
	</div>

	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		<%= f.error_messages %>
	
	  	<p><%= f.label :email, "UCSD Email", :autocomplete => :off %>
	  	<%= f.text_field :email, :autocomplete => :off %></p>

	  	<p><%= f.label :password %>
	  	<%= f.password_field :password %></p>

	  	<%= f.submit "Submit", :class => "blue_button" %>
	<% end %>

	<%= render :partial => "devise/shared/links" %>
</div>