<% title "Group Roles" %>

<table id="admin_table">
  <thead>
  	<tr>
	    <th>Name</th>
	    <th>Description</th>
	    <th>Assigned To</th>
	 	<th></th>
		<th></th>
	  </tr>
  </thead>
  <tbody>
	  <% for role in @roles %>
	    <tr>
	      <td><strong><%= role.name %></strong></td>
	      <td><%= role.description %></td>
	      <td><%= role.user.name %></td>
	      <td><%= link_to "Edit", edit_role_path(role) %></td>
	      <td><%= link_to "Delete", role, :confirm => 'Are you sure?', :method => :delete %></td>
	    </tr>
	  <% end %>
  </tbody>
</table>

<p><%= link_to "New Role", new_role_path, :class => "orange_button" %></p>
