<% title "Role" %>

<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @role.description %>
</p>
<p>
  <strong>User:</strong>
  <%= @role.user_id %>
</p>
<p>
  <strong>Icon:</strong>
  <%= @role.icon %>
</p>

<p>
  <%= link_to "Edit", edit_role_path(@role) %> |
  <%= link_to "Destroy", @role, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", roles_path %>
</p>
