<div id="header">
	<% if user_signed_in? %>
		<div id="logo" class="floatLeft">
			<% if current_user.groups.empty? %>
				<% if current_user.admin %>
					<%= link_to image_tag("logo.png"), dashboard_path %>
				<% else %>
					<%= link_to image_tag("logo.png"), root_url %>
				<% end %>
			<% else %>
				<%= link_to image_tag("logo.png"), current_user.groups.first %>
			<% end %>
		</div>
		
		<ul id="inner_user_navigation" class="floatRight">
			<li><%= link_to "Logout", destroy_user_session_path, :class => "logout_link", :title => "Logout" %></li>
		</ul>
	<% else %>
		<div id="logo" class="floatLeft">
			<%= link_to image_tag("logo.png"), root_url %>
		</div>
		
		<ul id="user_navigation" class="floatRight">
			<li><%= link_to "Login", new_user_session_path %></li>
			<li class="accent">or</li>
			<li>
				<%= link_to "Register", new_user_registration_path %>
				<%# link_to "Register", root_url %>
			</li>
		</ul>
		<div class="clear"></div>
	<% end %>
</div>
<div class="clear"></div>
