<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "UCSD CSE 110 Class Tools" %></title>
    <%= stylesheet_link_tag "application", "jquery.jgrowl.css", "uniform.default.css", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/redmond/jquery-ui.css", "bootstrap.css" %>
    <%= javascript_include_tag "jquery", "rails", "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js", "jquery.livesearch.js", "application", "highcharts", "nested_form", "jquery.inlinefields.min.js", "jquery.uniform.min.js", "bootstrap.min.js" %>
	
	<!-- TypeKit Fonts -->
	<script type="text/javascript" src="http://use.typekit.com/bvi5are.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
	<%= render 'layouts/header' %>
	
    <div id="clean_container">
		<% if notice %>
			<div id="application_notice"><p><%= notice %></p></div>
		<% end %>
		<% if alert %>
			<div id="application_alert"><p><%= alert %></p></div>
		<% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
